# pour generer un certificat root CA


[ req ]
default_bits		= 2048
default_keyfile 	= private/ca.key
default_md			= sha256
distinguished_name	= req_distinguished_name
x509_extensions		= rootca_cert


[ req_distinguished_name ]
countryName				= Pays
countryName_default		= FR
countryName_min			= 2
countryName_max			= 2

stateOrProvinceName		= Etat, province ou departement
stateOrProvinceName_default	= IDF

localityName			= Ville
localityName_default		= CERGY

organizationName		= Organisation
organizationName_default	= CYTECH

organizationalUnitName		= Unite organisationnelle
organizationalUnitName_default	= CYBER

commonName			= Nom commun
commonName_default		= CYTECH ROOT CA
commonName_max			= 64

emailAddress			= Adresse email
emailAddress_default 		= root-ca@cy-tech.fr
emailAddress_max		= 64


[ rootca_cert ]


# la section ci-dessous decrit les extensions a inclure dans un certificat rootCA

basicConstraints	= critical, CA:true
subjectKeyIdentifier	= hash
keyUsage		= critical, keyCertSign, cRLSign
authorityKeyIdentifier	= keyid:always,issuer:always
nsCertType		= sslCA, emailCA, objCA
nsComment		= "Certificat Racine. Genere par OpenSSL"
# subjectAltName	= email:copy
