<!doctype html>
<html>

<head>
    <title>Formulaire</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <h1>Formulaire</h1>
    <form action="/ajout_texte" method="post">
        Nom : <input type="text" name="nom">
        Prénom : <input type="text" name="prenom">
        Intitulé de la certification : <input type="text" name="intitule">
        Email de l'étudiant : <input type="text" name="mail">
        OTP : <input type="text" name="otp">
        <input type="submit" value="submit">
    </form>
   
</body>

</html>