<!doctype html>
<html>

<head>
    <title>Rapport</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="py-5 border-b border-black bg-blue-300">
        <h1 class="text-4xl font-bold text-center">Rapport de vérification</h1>
    </div>

    <a href="/" class="px-1 hover:underline underline-offset-1 font-bold">Retour à l'accueil</a><br>
    <br><br>
    <div class="text-center text-2xl font-bold">
        {{ rapport }}
    </div><br>
    {% for errors in lst_errors %}
        {{ errors }}<br>
    {% endfor %}
</body>

</html>