<!doctype html>
<html>

<head>
    <title>Page de Vérification</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="py-5 border-b border-black bg-blue-300">
        <h1 class="text-4xl font-bold text-center">Page de Vérification</h1>
    </div>
    <a class="px-1 hover:underline underline-offset-1 font-bold" href="/">Retour à l'accueil</a><br><br><br>
    <div class="text-center font-bold">
        Vous pouvez vérifier l'authenticité d'un diplôme sur cette page.<br>
        Rentrez les informations inscrites sur le diplôme et uploadez ce même diplôme.<br>
        Vous saurez ensuite si les informations renseignées correspondent aux informations cryptées et si toutes les autorisations sont valides.
    </div><br>
    <form action="/verif_diplome" method="post" enctype="multipart/form-data" class="text-center">
        Nom : <input class="border border-black rounded-lg" type="text" name="nom"> <br><br>
        Prénom : <input class="border border-black rounded-lg" type="text" name="prenom"><br><br>
        Intitulé de la certification : <input class="border border-black rounded-lg" type="text" name="intitule"><br><br>
        <input type="file" name="img" /><br><br>
        <input class="px-4 py-1 hover:bg-blue-400 rounded-full cursor-pointer bg-blue-300 font-bold drop-shadow-lg" type="submit" value="submit">
    </form>
   
</body>

</html>