<!doctype html>
<html>

<head>
    <title>Page de Vérification</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <h1>Page de Vérification</h1>
    <a href="/">retour à l'accueil</a><br><br>
    <form action="/verif_diplome" method="post" enctype="multipart/form-data">
        Nom : <input type="text" name="nom"> <br>
        Prénom : <input type="text" name="prenom"><br>
        Intitulé de la certification : <input type="text" name="intitule"><br>
        <input type="file" name="img" /><br>
        <input type="submit" value="submit">
    </form>
   
</body>

</html>